<main class="main">
    <div id="header">
        <div id="infHeader" class="inRow">
            <div class="dataInf inRow">
                <div style="margin-right: 15px;">Ligue para nós (99)99999-9999</div>
                <div>Email marketsystem&#64;support.com</div>
            </div>
            <div class="setting inRow">
                <select id="currency">
                    <option value=""></option>
                </select>
                <select id="language">
                    <option value=""></option>
                </select>
                <div class="login inRow" style="gap: 3px;">
                    <div class="enterAccount">Entrar</div>
                    <div>/</div>
                    <div class="enterAccount">Registrar-se</div>
                </div>
            </div>
        </div>
        <div id="optHeader" class="inRow">
            <div class="title">
                <img src="/assets/images/Logo.png" style="width: 150px; height: auto;">
            </div>
            <div class="menuOption inRow">
                <div>Início</div>
                <div>Produtos</div>
                <div>Páginas</div>
                <div>Blogue</div>
                <div>Sobre</div>
                <div>Contato</div>
                <div>Torne-se um Vendedor</div>
            </div>
            <div class="infShop inRow">
                <div>icon1</div>
                <div>icon2</div>
                <div>icon3</div>
                <div>R$00,00</div>
            </div>
        </div>
        <div id="searchHeader">
            <div style="align-items: center;height: 100%;width: 100%;display: flex;flex-direction: row;margin-left: 10%; margin-right: 10%;">
                <div class="categories">
                    <div>Todas categorias</div>
                </div>
                <div class="searchShop">
                    <span class="icon-search"></span>
                    <input type="text" id="inputItem" style="width: 100%;" placeholder="O que você está procurando?">
                    <button id="bttpesq">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</main>
